body{
    font-family: sans-serif;
}

nav{
    display: flex;
    align-content:flex-start;
    flex-direction: row ;
}
nav ul{
    list-style-type: none; /*this is used to take the bullets away*/
    width:100%;
    margin:0 auto;
    background: #333333;
    color: #fff;
}


footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: #333333;
    color: #fff;
    padding:10px;
    height:50%;
}
#showcase {

}
