body{
    background-color: #333;
    color:#fff;
    font-family: sans-serif;

}
.box div{
    width: 500px;
    height: 100vw;
    border: 1px green solid;
}
div {
    height: 25%;
    width: 500px;
    border:solid red 1px;
}
div .box:first-child{
    border:red 1px solid;
    width: 100%;
}
*:last-child{
    border: blue 1px solid;
}
