* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	height: 100vh;
	display: grid;
	place-items: center;
}

.blue {
	color: steelblue !important;
}

.blue-border {
	border-color: steelblue !important;
}

.error {
	border-color: red;
}

label.error {
	color: red;
}

nav {
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #333;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: #fff;
}

nav * {
	margin-right: 1rem;
}

form {
	width: 25%;
	display: flex;
	flex-direction: column;
}

form h1 {
	margin-bottom: 2rem;
}

form input {
	margin-bottom: 1rem;
	border: none;
	border-bottom: 1px solid #888;
	padding: 0.1rem 0.5rem;
	transition: 300ms;
}

form input:focus {
	outline: none;
}

form label {
	color: #888;
	transition: 300ms;
}

form #remember {
	display: flex;
	align-items: center;
}

form #remember input {
	margin: 0;
	margin-right: 0.5rem;
}

form #remember label {
	color: #000;
}

form button {
	width: 75%;
	align-self: center;
	background: steelblue;
	color: #fff;
	border: none;
	padding: 0.5rem 0;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

form button:hover {
	opacity: 0.9;
}

form button:focus {
	outline: none;
}

form p {
	align-self: center;
	margin-bottom: 0.5rem;
	cursor: pointer;
}

form p .blue:hover {
	text-decoration: underline;
}
